body{
    margin: 0;
    background-color: #fff8dc;
}
.logo{
    border-radius: 60%;
    width: 200px;
    height: 160px;
    margin-left: 1em;
}
.top-bar{
    background-color: #2f4f4f;
    color: #f0ffff;
    padding: 12px;
}
.flex{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.heading-section{
    display: block;
    margin: auto;
}
.heading{
    font-family: 'Merriweather', serif;
    font-size: 2.2rem;
}
.generatorText{
    font-family: 'Poppins', sans-serif;
    font-size: 1.3em;
    font-weight: bolder;
}
.generateButton{
    color: #f0ffff;
    background-color: #1e90ff;
    border-radius: 6px;
    padding: 9px;
    border-style: none;
    text-decoration: none;
}
.encryptHeader,.encryptInfo{
    text-align: center;
    font-family: 'Lexend', sans-serif;
    font-weight: 800;
}
.encryptHeader{
    font-size: 27px;
}
.encryptInfo{
    font-size: 20px;
}
ul{
    list-style: none;
}
.encryptButton{
    background-color:#dc143c;
    width: 12em;
}
.enText{
    font-size:1.3em;
    background-color: #d3d3d3;
    box-shadow: 0 0 3 1 rgba(#000000,#ffffff,#aeb8b8,0.9);
    border-radius: 4px;
    border: 1px dashed #2f4f4f;
}
.sectionBackground{
    background-image: url("../Assets/markus-spiske-iar-afB0QQw-unsplash.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    color: #f0ffff;
    padding: 18px;
}
.boxes{
    border-radius: 7px;
    padding: 9px;
}
.copyButton{
    border-radius: 3px;
    border: none;
    padding: 4px 6px;
    background-color: #ffffffd3;
    color: #4e4949;
}